# This configuration should be fetched from Spring Cloud Config
# Common configuration across different environments

application:
  title: R2DBC
  version: 1.0.0

spring:
  profiles:
    #default profile, this can be overriden by environmental variable
     active: default
  r2dbc:
    pool:
      enabled: true
      initial-size: 2
      max-size: 100

management:
  endpoints:
    web:
      exposure:
        include:
          - info
          - health
          - loggers
